*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1360px;
    text-font:"open sans";
    
}
html,body{
    height: 100%;
}

.center{
   
    margin: 0 auto;
       
}
.header{
    width: 100%;
    height: 60px;
    background-color:#212343 ;
}
.imagelogo{
    position: relative;
    left: 25px;
    top: 20px;
    }
.banner{
    width: 100%;
    height: 557px;
    background-image: url(header.png);
    background-size: cover;
    background-position: center;
}

.banner>.center{
    height: 100%;
}

.form{
    width:400px;
    height:calc(100% + 30px);
    float: right;
    background-color:white;
    position: relative;
    top: -15px;
    left: -30px;
    border: 5px solid #ccc;
    padding: 10px;
}
.form h2{
    font-weight: normal;
    color: #999999;
    font-size: 20px;
    text-align: center;
   }

.input{
    margin-top: 20px;
    
}

.input input[type=text]
{
    border: #ccc solid 4px;
    width: 90% ;
    height: 40px;
    padding: 30px;
    margin-top: 8px;

}

.input span{
   font-size: 17px;
   display: inline-block;
   width: 100%;
   font-weight: bold;
   color: #ccc; 
   
}
.spanobrigatorio{
    margin-top: 15px;
}

.form input[type=submit]{
    background-color:#363A6D;
    width: 40%;
    height:10% ;
    position: relative;
    left: 110px;
    top:31px;
    border: none;
    color: white;
    cursor: pointer;;
    border: 0;

}

.form input[type=submit]:hover{
    color: #363A6D;;
    background-color:white;
    border: 1px  #363A6D solid;
}

.form .banneripsum{
    background-color: rgba(33, 35,67,0.75);
    display: inline-block;
    width: 619px;
    padding: 5px;
    position: relative;
    left: -850px;
    top: -350px;
    color: white;
}

.form .banneripsum ul{
    width: 570px;
    position: relative;
    left: 10px;
    text-align: left;
    font-size: small;
}

.container{
    background-color:rgba(180, 180, 180, 0.4);
    width: 100%;
    padding: 40px;
    color:rgba(1, 1,1,0.7);
}

.container h2{
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

.container p{
    width: 64%;
    margin:0 auto;
    text-align: justify;
}

.arrow{
    text-align: center;
    position: relative;
    top: -32px;
    
}
.section h2{
    text-align: center;
    color: #ccc;
    padding-bottom: 40px;
    width: auto;
    margin: 0 auto;
    float: center;
}
.s1{
      
        width: 1280px;
        width:33.33333%;
        float:left;
        color: #ccc;
        text-align: center;
        position: relative;
        padding: 20px;
        
}

.s1 h3{
    width: 85%;
    text-align: center;
    padding-top: 15px;
}

.s1 p{
    width: 85%;
    text-align: center;
    padding-top: 15px;
}
.s1 .imageicon{
    width: 85%;
    text-align: center;
    padding-top: 15px;
}

.rodape{
   clear:both;
   padding: 30px;
   border-top: 4px solid #ccc;
   text-align: center;
   color: #ccc;
   position: relative;
   top: 50px;

}
